#aboutUs {
	overflow-x: hidden;

	.homeSection{
		min-height: auto;
	}
	main{
		.homeSection{
			min-height:65vh;
		}
	}
}

.triangle-down {
	background: #6874E8;
	width: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
	margin-bottom: 5%;
	&::after{
		content: '';
		position: absolute;
		top: 100%;
		left: 0; 
		right: 0;
		padding-bottom: 5%;
		background: #6874E8;
		-webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
		clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
	}
}
.justify-center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.aboutUsMainTitle {
	width: 600px;
}
.aboutUsMainLogoAll {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: auto;
	margin-right: 100px;
	margin-left: 40px;
}
.aboutUsMainPhoto {
	width: 650px;
	margin: auto;
	margin-right: 50px;
}

.aboutUsSectionTitle {
	margin-bottom: 0px;
}
.aboutUsSectionPhoto {
	width: 600px;
	margin: auto;
	margin-left: 40px;
	margin-right: 50px;
}

.aboutUsSectionLogoAll {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: auto;
	margin-left: 100px;
	margin-right: 50px;
}

.aboutUsSectionTitle-2 {
	margin-bottom: 0px;
	width: 380px;
}

.AUFontColor {
	color: #646fdd !important;
}
