.consultancies {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 8rem 0;
	.item {
		display: block;
		text-align: center;
		.sectionSubtitle {
			display:table-caption;
			text-align: center;
			width: 100%;
		}
		.padding-3 {
			padding-left: 3px;
		}
		.padding-8 {
			padding-left: 8px;
		}
	}
}

.consultanciesSectionCategories {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	.categoryContainer {
		padding-top: 2rem;
		padding-bottom: 2rem;
		padding-right: 139px;
		display: block;
		width: 50%;
		font-size: 14px;
		font-weight: 400;
		line-height: 19.07px;
		text-align: left;

		.title {
			margin-bottom: 6px;
		}
		
	}
	p {
		span {
			font-weight: bold;
		}
	}
}
.videos {
	display: flex;
	flex-wrap: wrap;
	.item {
		width: calc(100% / 4);
		&::before {
			content: '';
			float: left;
			padding-top: 100%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.consultanciesSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.consultanciesSectionAll {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 120px;
}
#consultancies{
	.footer{
		a{
			color: #4B65FF;
		}
	}
}

@media screen and (max-width:1980px){
	#consultancies{
		main{
			.Container{
				justify-content: center;
				.flexCol{
					.Container{
						width: 1200px;
						justify-content: space-between;
					}
				}
			}
		}
	}
}
@media screen and (max-width:1440px){
	#consultancies{
		main{
			.Container{
				justify-content: center;
				.flexCol{
					.flexCol{
						margin: 25px 0 0 0;
					}
					.Container{
						justify-content: space-between;
						flex-direction: row;
					}
				}
			}
		}
	}
}

@media screen and (max-width:1400px){
	#consultancies{
		section{
			.homeSection{
				justify-content: center;
				flex-direction: row;
			}
		}
	}
}

@media screen and (max-width:1200px) {
	#consultancies{
		main{
			.Container{
				.flexCol{
					.Container{
						width: unset;
						.item{
							margin: 2rem 3rem;
						}
					}
				}
			}
		}
		section{
			.homeSection{
				flex-direction: column;
			}
		}
	}
}

@media screen and (max-width:1073px) {
	#consultancies{
		main{
			.Container{
				.flexCol{
					.Container{
						.item{
							margin: 2rem 2.9rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width:1060px) {
	#consultancies{
		main{
			.Container{
				.flexCol{
					.Container{
						.item{
							margin: 2rem 2.5rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width:993px) {
	#consultancies{
		main{
			.Container{
				.flexCol{
					.Container{
						.item{
							margin: 2rem 2.4rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width:980px) {
	#consultancies{
		main{
			.Container{
				.flexCol{
					.Container{
						width: unset;
						flex-direction: column;
						.item{
							margin: 2rem 2.5rem;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 576px){
	#consultancies{
		main{
			.Container{
				.flexCol{
					.flexCol{
						.consultanciesLogo{
							width: 80vw;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 400px){
	#consultancies{
		main{
			.Container{
				.flexCol{
					.flexCol{
						.consultanciesLogo{
							width: 100vw;
						}
					}
				}
			}
		}
	}
}