.homeHumanaLogoAll {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 100px;
}

.homeHumanaLogo {
	margin-bottom: 50px;
}

.homeTextHumanaLogo {
	font-family: 'Opens Sans', Arial, Helvetica, sans-serif;
	font-weight: 600;
	margin-bottom: 50px;
	line-height: 21.79px;
}

.homePhotoMain {
	width: 600px;
	margin: 100px;
}
