#home {
    transition: opacity 0.5s;
    &.activePage {
        opacity: 1;
        height: auto;
    }
    &.hidePage {
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
}

#aboutUs {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s;
    &.activePage {
        opacity: 1;
        height: auto;
        
    }
    &.hidePage {
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
}

#consultancies {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s;
    &.activePage {
        opacity: 1;
        height: auto;
    }
    &.hidePage {
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
}






#buttonHome + .selector{
    opacity: 0;
    background: #ea2560;
    transition: opacity 0s;
    transition-delay: 500ms;
    &.activeSelector {
        opacity: 1;
        
    }
    &.hideSelector {
        opacity: 0;
    }
    &.hideSelector-A {
        opacity: 0;
        background-color: #F5C20E;
        animation-duration: 500ms;
        animation-name: selectorAnimationHome-A;
    }
    &.hideSelector-C {
        opacity: 0;
        background-color: #5d17eb;
        animation-duration: 500ms;
        animation-name: selectorAnimationHome-C;
    }
}

#buttonAboutUs + .selector {
    opacity: 0;
    background: #F5C20E;
    transition: opacity 0s;
    transition-delay: 500ms;
    &.activeSelector {
        opacity: 1;
    }
    &.hideSelector {
        opacity: 0;
    }
    &.hideSelector-H {
        opacity: 0;
        background-color: #ea2560;
        animation-duration: 500ms;
        animation-name: selectorAnimationAboutUs-H;
    }
    &.hideSelector-C {
        opacity: 0;
        background-color: #5d17eb;
        animation-duration: 500ms;
        animation-name: selectorAnimationAboutUs-C;
    }
}

#buttonConsultancies + .selector {
    opacity: 0;
    background: #5d17eb;
    transition: opacity 0s;
    transition-delay: 500ms;
    &.activeSelector {
        opacity: 1;  
        
    }
    &.hideSelector{
        opacity: 0;
    }
    &.hideSelector-H {
        opacity: 0;
        background-color: #ea2560;
        animation-duration: 500ms;
        animation-name: selectorAnimationConsultancies-H;
    }
    &.hideSelector-A {
        opacity: 0;
        background-color: #F5C20E;
        animation-duration: 500ms;
        animation-name: selectorAnimationConsultancies-A;
    }
}



#buttonHomeViolet + .selector{
    opacity: 0;
    background: #ea2560;
    transition: opacity 0s;
    transition-delay: 500ms;
    &.activeSelector {
        opacity: 1;
        
    }
    &.hideSelector {
        opacity: 0;
    }
    &.hideSelector-A {
        opacity: 0;
        background-color: #F5C20E;
        animation-duration: 500ms;
        animation-name: selectorAnimationHome-A;
    }
    &.hideSelector-C {
        opacity: 0;
        background-color: #5d17eb;
        animation-duration: 500ms;
        animation-name: selectorAnimationHome-C;
    }
}

#buttonAboutUsViolet + .selector {
    opacity: 0;
    background: #F5C20E;
    transition: opacity 0s;
    transition-delay: 500ms;
    &.activeSelector {
        opacity: 1;
    }
    &.hideSelector {
        opacity: 0;
    }
    &.hideSelector-H {
        opacity: 0;
        background-color: #ea2560;
        animation-duration: 500ms;
        animation-name: selectorAnimationAboutUs-H;
    }
    &.hideSelector-C {
        opacity: 0;
        background-color: #5d17eb;
        animation-duration: 500ms;
        animation-name: selectorAnimationAboutUs-C;
    }
}

#buttonConsultanciesViolet + .selector {
    opacity: 0;
    background: #5d17eb;
    transition: opacity 0s;
    transition-delay: 500ms;
    &.activeSelector {
        opacity: 1;  
        
    }
    &.hideSelector{
        opacity: 0;
    }
    &.hideSelector-H {
        opacity: 0;
        background-color: #ea2560;
        animation-duration: 500ms;
        animation-name: selectorAnimationConsultancies-H;
    }
    &.hideSelector-A {
        opacity: 0;
        background-color: #F5C20E;
        animation-duration: 500ms;
        animation-name: selectorAnimationConsultancies-A;
    }
}

@keyframes selectorAnimationHome-A {
    from {
        left: 50px;
    }
  
    to {
        left: 190px;
    }
  }
  @keyframes selectorAnimationHome-C {
    from {
        left: 50px;
    }
  
    to {
        left: 344px;
    }
  }


  @keyframes selectorAnimationAboutUs-C {
    from {
        left: 65px;
    }
  
    to {
        left: 228px;
    }
  }
  @keyframes selectorAnimationAboutUs-H {
    from {
        right: 65px;
    }
  
    to {
        right: 210px;
    }
  }


  @keyframes selectorAnimationConsultancies-A {
    from {
        right: 65px;
    }
  
    to {
        right: 225px;
    }
  }
  @keyframes selectorAnimationConsultancies-H {
    from {
        right: 65px;
    }
  
    to {
        right: 360px;
    }
  }

@media screen and (max-width:1150px) {

    @keyframes selectorAnimationHome-A {
        from {
            left: 50px;
        }
      
        to {
            left: 170px;
        }
      }
      @keyframes selectorAnimationHome-C {
        from {
            left: 50px;
        }
      
        to {
            left: 309px;
        }
      }
    
    
      @keyframes selectorAnimationAboutUs-C {
        from {
            left: 65px;
        }
      
        to {
            left: 207px;
        }
      }
      @keyframes selectorAnimationAboutUs-H {
        from {
            right: 65px;
        }
      
        to {
            right: 190px;
        }
      }
    
    
      @keyframes selectorAnimationConsultancies-A {
        from {
            right: 65px;
        }
      
        to {
            right: 203px;
        }
      }
      @keyframes selectorAnimationConsultancies-H {
        from {
            right: 65px;
        }
      
        to {
            right: 325px;
        }
      }
 
}


@media screen and (max-width:1070px) {

    @keyframes selectorAnimationHome-A {
        from {
            left: 50px;
        }
      
        to {
            left: 160px;
        }
      }
      @keyframes selectorAnimationHome-C {
        from {
            left: 50px;
        }
      
        to {
            left: 293px;
        }
      }
    
    
      @keyframes selectorAnimationAboutUs-C {
        from {
            left: 65px;
        }
      
        to {
            left: 197px;
        }
      }
      @keyframes selectorAnimationAboutUs-H {
        from {
            right: 65px;
        }
      
        to {
            right: 180px;
        }
      }
    
    
      @keyframes selectorAnimationConsultancies-A {
        from {
            right: 65px;
        }
      
        to {
            right: 195px;
        }
      }
      @keyframes selectorAnimationConsultancies-H {
        from {
            right: 65px;
        }
      
        to {
            right: 310px;
        }
      }
   
}


@media screen and (max-width:1030px) {

    @keyframes selectorAnimationHome-A {
        from {
            left: 50px;
        }
      
        to {
            left: 148px;
        }
      }
      @keyframes selectorAnimationHome-C {
        from {
            left: 50px;
        }
      
        to {
            left: 273px;
        }
      }
    
    
      @keyframes selectorAnimationAboutUs-C {
        from {
            left: 65px;
        }
      
        to {
            left: 185px;
        }
      }
      @keyframes selectorAnimationAboutUs-H {
        from {
            right: 65px;
        }
      
        to {
            right: 169px;
        }
      }
    
    
      @keyframes selectorAnimationConsultancies-A {
        from {
            right: 65px;
        }
      
        to {
            right: 183px;
        }
      }
      @keyframes selectorAnimationConsultancies-H {
        from {
            right: 65px;
        }
      
        to {
            right: 290px;
        }
      }

}

@media screen and (max-width:980px) {

    @keyframes selectorAnimationHome-A {
        from {
            left: 50px;
        }
      
        to {
            left: 158px;
        }
      }
      @keyframes selectorAnimationHome-C {
        from {
            left: 50px;
        }
      
        to {
            left: 288px;
        }
      }
    
    
      @keyframes selectorAnimationAboutUs-C {
        from {
            left: 65px;
        }
      
        to {
            left: 195px;
        }
      }
      @keyframes selectorAnimationAboutUs-H {
        from {
            right: 65px;
        }
      
        to {
            right: 178px;
        }
      }
    
    
      @keyframes selectorAnimationConsultancies-A {
        from {
            right: 65px;
        }
      
        to {
            right: 192px;
        }
      }
      @keyframes selectorAnimationConsultancies-H {
        from {
            right: 65px;
        }
      
        to {
            right: 306px;
        }
      }

}