@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

#home {
  transition: opacity 0.5s; }
  #home.activePage {
    opacity: 1;
    height: auto; }
  #home.hidePage {
    height: 0;
    opacity: 0;
    overflow: hidden; }

#aboutUs {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s; }
  #aboutUs.activePage {
    opacity: 1;
    height: auto; }
  #aboutUs.hidePage {
    height: 0;
    opacity: 0;
    overflow: hidden; }

#consultancies {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s; }
  #consultancies.activePage {
    opacity: 1;
    height: auto; }
  #consultancies.hidePage {
    height: 0;
    opacity: 0;
    overflow: hidden; }

#buttonHome + .selector {
  opacity: 0;
  background: #ea2560;
  transition: opacity 0.5s linear; }
  #buttonHome + .selector.activeSelector {
    opacity: 1; }
  #buttonHome + .selector.hideSelector {
    opacity: 0; }
  #buttonHome + .selector.hideSelector-A {
    opacity: 0;
    animation-duration: 0.5s;
    animation-name: selectorAnimationHome-A; }
  #buttonHome + .selector.hideSelector-C {
    opacity: 0;
    animation-duration: 0.5s;
    animation-name: selectorAnimationHome-C; }

#buttonAboutUs + .selector {
  opacity: 0;
  background: #F5C20E;
  transition: opacity 0.5s linear; }
  #buttonAboutUs + .selector.activeSelector {
    opacity: 1; }
  #buttonAboutUs + .selector.hideSelector {
    opacity: 0; }
  #buttonAboutUs + .selector.hideSelector-H {
    opacity: 0;
    animation-duration: 0.5s;
    animation-name: selectorAnimationAboutUs-H; }
  #buttonAboutUs + .selector.hideSelector-C {
    opacity: 0;
    animation-duration: 0.5s;
    animation-name: selectorAnimationAboutUs-C; }

#buttonConsultancies + .selector {
  opacity: 0;
  background: #5d17eb;
  transition: opacity 0.5s linear; }
  #buttonConsultancies + .selector.activeSelector {
    opacity: 1; }
  #buttonConsultancies + .selector.hideSelector {
    opacity: 0; }
  #buttonConsultancies + .selector.hideSelector-H {
    opacity: 0;
    animation-duration: 0.5s;
    animation-name: selectorAnimationConsultancies-H; }
  #buttonConsultancies + .selector.hideSelector-A {
    opacity: 0;
    animation-duration: 0.5s;
    animation-name: selectorAnimationConsultancies-A; }

@keyframes selectorAnimationHome-A {
  from {
    left: 50px; }
  to {
    left: 180px; } }

@keyframes selectorAnimationHome-C {
  from {
    left: 50px; }
  to {
    left: 315px; } }

@keyframes selectorAnimationAboutUs-C {
  from {
    left: 65px; }
  to {
    left: 210px; } }

@keyframes selectorAnimationAboutUs-H {
  from {
    right: 65px; }
  to {
    right: 190px; } }

@keyframes selectorAnimationConsultancies-A {
  from {
    right: 65px; }
  to {
    right: 210px; } }

@keyframes selectorAnimationConsultancies-H {
  from {
    right: 65px; }
  to {
    right: 330px; } }

.fontWhite {
  color: #ffffffd9; }

.fontBlack {
  color: #1a1a1a; }

.fontPink {
  color: #ea2560; }

.fontBlue {
  color: #4B65FF; }

.fontLightBlue {
  color: #00c2cb; }

.fontOrange {
  color: #f5c20e; }

.fontViolet {
  color: #6874E8; }

.fontRegular {
  font-weight: 400 !important; }

.fontSemiBold {
  font-weight: 600 !important; }

.fontBold {
  font-weight: 700 !important; }

.font14 {
  font-size: 14px !important; }

.font-5 {
  font-size: 21px !important; }

.fontOS {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 21, 79px; }

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center; }

.Container {
  width: 1400px;
  margin: auto;
  align-items: center; }

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center; }

.bgWhite {
  background-color: #fff !important;
  background-image: url("../img/home/background-pink.png"); }

.bgWhiteButton {
  background-color: #fff !important; }

.bgWhiteFooter {
  background-color: #fff !important;
  background-image: none; }

.bgRed {
  background-color: #d42428 !important;
  background-image: url("../img/home/background-white.png"); }

.bgRedButton {
  background-color: #d42428 !important; }

.bgRedFooter {
  background-color: #d42428 !important;
  background-image: none; }

.bgPink {
  background-color: #ea2560 !important;
  background-image: url("../img/home/background-white.png"); }

.bgPinkButton {
  background-color: #ea2560 !important; }

.bgPinkFooter {
  background-color: #ea2560 !important;
  background-image: none; }

.bgPinkInstagram {
  background-color: #e53e70 !important;
  background-image: url("../img/home/background-white.png"); }

.bgPinkInstagramButton {
  background-color: #e53e70 !important; }

.bgPinkInstagramFooter {
  background-color: #e53e70 !important;
  background-image: none; }

.bgOrange {
  background-color: #f5c20e !important;
  background-image: url("../img/home/background-white.png"); }

.bgOrangeButton {
  background-color: #f5c20e !important; }

.bgOrangeFooter {
  background-color: #f5c20e !important;
  background-image: none; }

.bgLightBlue {
  background-color: #00c2cb !important;
  background-image: url("../img/home/background-white.png"); }

.bgLightBlueButton {
  background-color: #00c2cb !important; }

.bgLightBlueFooter {
  background-color: #00c2cb !important;
  background-image: none; }

.bgBlue {
  background-color: #4b65ff !important;
  background-image: url("../img/home/background-white.png"); }

.bgBlueButton {
  background-color: #4b65ff !important; }

.bgBlueFooter {
  background-color: #4b65ff !important;
  background-image: none; }

.bgDarkBlue {
  background-color: #0349aa !important;
  background-image: url("../img/home/background-white.png"); }

.bgDarkBlueButton {
  background-color: #0349aa !important; }

.bgDarkBlueFooter {
  background-color: #0349aa !important;
  background-image: none; }

.bgBlueFacebook {
  background-color: #3a5a98 !important;
  background-image: url("../img/home/background-white.png"); }

.bgBlueFacebookButton {
  background-color: #3a5a98 !important; }

.bgBlueFacebookFooter {
  background-color: #3a5a98 !important;
  background-image: none; }

.bgViolet {
  background-color: #6874E8 !important;
  background-image: url("../img/home/background-white.png"); }

.bgVioletButton {
  background-color: #6874E8 !important; }

.bgVioletFooter {
  background-color: #6874E8 !important;
  background-image: none; }

#aboutUs .bgWhite {
  background-image: url("../img/about-us/background-violet.png"); }

#aboutUs .bgVioletFooter {
  background-color: #6571E1 !important; }

header {
  position: sticky;
  top: 0px;
  z-index: 0;
  background-color: white; }
  header.backgroundWhite {
    background-color: white; }
  header.backgroundViolet {
    transition: background-color 0.5s;
    background-color: #6874e8; }

.logo {
  width: 30px; }

.Container.navBar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  padding: 12px;
  flex-direction: row; }
  .Container.navBar .logoResponsive {
    display: none;
    margin-left: 1.5rem; }
  .Container.navBar .navbar-links {
    width: 100%;
    display: flex;
    background-color: white; }
    .Container.navBar .navbar-links.backgroundWhite {
      background-color: white; }
    .Container.navBar .navbar-links.backgroundViolet {
      transition: background-color 0.5s;
      background-color: #6874e8; }
    .Container.navBar .navbar-links li {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0 32px; }
      .Container.navBar .navbar-links li a {
        display: block; }
    .Container.navBar .navbar-links .logo {
      margin: 0 32px; }
    .Container.navBar .navbar-links .socialMedia {
      align-items: center;
      margin: 0 0 0 auto; }
      .Container.navBar .navbar-links .socialMedia a {
        width: 40px;
        margin: 0 12px; }
        .Container.navBar .navbar-links .socialMedia a .socialIcon {
          height: 34px;
          width: 34px;
          margin-top: 0px; }

.toggleButton {
  cursor: pointer;
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px; }
  .toggleButton .bar {
    height: 3px;
    width: 80%;
    background-color: #000;
    border-radius: 15px; }

a {
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  list-style: none; }

.navLink {
  color: #ea2560;
  opacity: 62%; }
  .navLink:hover {
    opacity: 100%; }
  .navLink.active {
    opacity: 100%; }
  .navLink.pink {
    color: #ea2560; }
  .navLink.orange {
    color: #F5C20E; }
  .navLink.violet {
    color: #5d17eb; }

.button {
  padding: 13px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #f5c20e;
  border-radius: 6px;
  color: white; }

.button:visited {
  color: white; }

.selector {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: -1px; }

#home {
  display: flex;
  flex-direction: column;
  background-color: white; }
  #home main {
    min-height: 100vh; }
    #home main .homeSection {
      min-height: 0px; }

.homeHumanaLogoAll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 100px; }

.homeHumanaLogo {
  margin-bottom: 50px; }

.homeTextHumanaLogo {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 50px;
  line-height: 21.79px; }

.homePhotoMain {
  width: 600px;
  margin: 100px; }

.homeSection {
  display: flex;
  justify-content: space-between;
  min-height: 100vh; }
  .homeSection .sectionSubtitle {
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 1.25rem; }

.homeSectionPhoto {
  width: 450px;
  margin: 120px; }

.homeSectionLogoAll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 120px; }

.homeSectionTitle {
  margin-bottom: 15px; }

.homeSectionTitle-2 {
  margin-bottom: 15px; }

.homeSectionText {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  font-style: normal; }

.homeSectionCategories {
  padding: 108px 0;
  display: flex;
  flex-wrap: wrap; }
  .homeSectionCategories .categoryContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 128px;
    display: block;
    width: 50%;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px; }
    .homeSectionCategories .categoryContainer .title {
      margin-bottom: 6px; }

.homeCenter {
  margin-left: 0;
  align-items: center; }
  .homeCenter a {
    margin-top: 25px; }

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24, 51px; }

.ellipse {
  width: 72px;
  height: 72px;
  background: #f5c20e;
  border-radius: 50%;
  margin-bottom: 13px;
  display: flex;
  justify-content: center;
  align-items: center; }

.ellipse-c {
  width: 104px;
  height: 104px;
  background-color: #00C2CB;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 30px rgba(60, 60, 60, 0.25); }
  .ellipse-c img {
    object-fit: contain;
    width: 50px; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0; }
  .footer .title a {
    margin: 0 26.5px;
    color: #ea2560; }

.dBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

.socialMedia {
  display: flex; }
  .socialMedia .socialIcon {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 16.5px 0 16.5px; }
    .socialMedia .socialIcon img {
      width: 100%;
      height: 100%; }

.rights {
  height: 46px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; }
  .rights a {
    color: blue; }

.footerResponsive {
  display: none; }

#aboutUs {
  overflow-x: hidden; }
  #aboutUs .homeSection {
    min-height: auto; }
  #aboutUs main .homeSection {
    min-height: 65vh; }

.triangle-down {
  width: 100%;
  height: 0;
  border-left: 49.3vw solid transparent;
  border-right: 49.3vw solid transparent;
  border-top: 100px solid #6874e8; }

.justify-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.aboutUsMainTitle {
  width: 600px; }

.aboutUsMainLogoAll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  margin-right: 100px;
  margin-left: 40px; }

.aboutUsMainPhoto {
  width: 650px;
  margin: auto;
  margin-right: 50px; }

.aboutUsSectionTitle {
  margin-bottom: 0px; }

.aboutUsSectionPhoto {
  width: 600px;
  margin: auto;
  margin-left: 40px;
  margin-right: 50px; }

.aboutUsSectionLogoAll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  margin-left: 100px;
  margin-right: 50px; }

.aboutUsSectionTitle-2 {
  margin-bottom: 0px;
  width: 380px; }

.AUFontColor {
  color: #646fdd !important; }

.consultancies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 8rem 0; }
  .consultancies .item {
    display: block;
    text-align: center; }
    .consultancies .item .sectionSubtitle {
      display: table-caption;
      text-align: center; }

.consultanciesSectionCategories {
  display: flex;
  flex-wrap: wrap;
  width: 50%; }
  .consultanciesSectionCategories .categoryContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 139px;
    display: block;
    width: 50%;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px; }

.videos {
  display: flex;
  flex-wrap: wrap; }
  .videos .item {
    width: calc(100% / 3); }
    .videos .item::before {
      content: '';
      float: left;
      padding-top: 100%; }
    .videos .item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.consultanciesSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.consultanciesSectionAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 120px; }

#consultancies .footer a {
  color: #4B65FF; }

@media screen and (max-width: 1980px) {
  #consultancies main .Container {
    justify-content: center; }
    #consultancies main .Container .flexCol .Container {
      width: 1200px;
      justify-content: space-between; } }

@media screen and (max-width: 1400px) {
  #consultancies main .Container {
    justify-content: center; }
    #consultancies main .Container .flexCol .Container {
      width: unset;
      justify-content: space-between; } }

@media screen and (max-width: 576px) {
  #consultancies main .Container .flexCol .flexCol .consultanciesLogo {
    width: 80vw; } }

@media screen and (max-width: 400px) {
  #consultancies main .Container .flexCol .flexCol .consultanciesLogo {
    width: 100vw; } }

.card {
  width: 35%;
  min-height: 740px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 1px -1px 19px 1px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 1px -1px 19px 1px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 1px -1px 19px 1px rgba(0, 0, 0, 0.42);
  margin: 40px 0;
  padding-bottom: 12px; }
  .card .cardHeader {
    width: 100%;
    height: 45%; }
    .card .cardHeader .cardImage {
      border-radius: 16px 16px 0 0;
      height: 100%;
      width: 100%; }
  .card .cardBody {
    padding: 0 3rem; }
    .card .cardBody .cardTitle {
      font-family: 'Open Sans';
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
      margin: 1rem 0; }
    .card .cardBody .cardDescription {
      font-family: 'Open Sans';
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center; }

@media (max-width: 1440px) {
  .Container {
    width: unset;
    max-height: unset;
    flex-direction: column;
    margin: 0px; }
    .Container.navBar {
      justify-content: center; }
  .homeSection {
    min-height: unset; }
    .homeSection .sectionSubtitle {
      text-align: center; }
  .homeHumanaLogoAll {
    align-items: center;
    margin: 5px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: justify; }
  .homePhotoMain {
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px; }
  .homeSectionPhoto {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .homeSectionLogoAll {
    margin: 5px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    align-items: center;
    order: -1;
    text-align: justify; }
  .homeSectionTitle {
    margin-bottom: 10px;
    margin-top: 10px; }
  .homeSectionTitle-2 {
    margin-bottom: 10px;
    margin-top: 10px; }
  .homeSectionText {
    margin-top: 5px; }
  .homeSectionCategories {
    padding: 0px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    align-items: center; }
    .homeSectionCategories .categoryContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: justify;
      padding: 50px;
      padding-top: 2rem;
      padding-bottom: 2rem; }
  .rights {
    text-align: justify; }
  .aboutUsMainLogoAll {
    margin: auto;
    margin-right: 100px;
    margin-left: 100px;
    align-items: center;
    text-align: justify; }
  .aboutUsMainPhoto {
    margin-right: 0px; }
  .aboutUsSectionLogoAll {
    margin: 5px;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    align-items: center;
    order: -1;
    text-align: justify; }
  .aboutUsSectionPhoto {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 60px; }
  .consultanciesLogo {
    margin: 1.25rem; }
  .consultancies .item {
    margin: 2rem; }
  .consultanciesSectionCategories .categoryContainer {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    padding: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .consultanciesSectionCategories .categoryContainer .title {
      text-align: center; }
  .card .cardBody .cardDescription {
    text-align: justify; } }

@media (max-width: 980px) {
  .Container.navBar .navbar-links {
    justify-content: center; }
  .bgPinkFooter :first-child p {
    display: none; }
  .bgVioletFooter :first-child p {
    display: none; }
  .bgBlueFooter :first-child p {
    display: none; }
  .rights {
    height: unset;
    display: flex; }
  .homeSection .card {
    width: 45%; }
  .Container.navBar .navbar-links .socialMedia {
    display: none; }
  .triangle-down {
    border-left: 49.1vw solid transparent;
    border-right: 49.1vw solid transparent; } }

@media (max-width: 768px) {
  .Container .toggleButton {
    display: flex; }
  .Container.navBar {
    flex-direction: column;
    align-items: flex-start; }
    .Container.navBar .logoResponsive {
      display: flex; }
    .Container.navBar .navbar-links {
      display: none;
      flex-direction: column;
      width: 100%; }
      .Container.navBar .navbar-links .logo {
        display: none; }
      .Container.navBar .navbar-links ul {
        width: 100%;
        flex-direction: column; }
      .Container.navBar .navbar-links li {
        text-align: center;
        padding: 10px 0; }
        .Container.navBar .navbar-links li .buttonContact {
          justify-self: center; }
      .Container.navBar .navbar-links .socialMedia {
        display: flex;
        margin: 0px; }
        .Container.navBar .navbar-links .socialMedia .socialIcon {
          margin: 0px; }
      .Container.navBar .navbar-links.active {
        display: flex;
        position: absolute;
        top: 65px;
        right: 0px; }
  .consultanciesSectionCategories .categoryContainer {
    padding: 0px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%; }
  .aboutUsMainTitle {
    width: 500px; }
  .aboutUsMainPhoto {
    width: 550px; }
  .homeSection .card {
    width: 50%; }
  .triangle-down {
    border-left: 48.7vw solid transparent;
    border-right: 48.7vw solid transparent; } }

@media (max-width: 670px) {
  .homeHumanaLogo {
    width: 300px; }
  .homePhotoMain {
    width: 460px; }
  .homeSectionPhoto {
    width: 350px; }
  .homeSectionTitle {
    width: 400px; }
  .homeSectionTitle-2 {
    width: 300px; }
  .homeSectionCategories {
    margin-left: 25px;
    margin-right: 25px; }
    .homeSectionCategories .categoryContainer {
      padding: 15px;
      text-align: justify;
      width: 100%; }
      .homeSectionCategories .categoryContainer .title {
        text-align: center; }
  .footer .title {
    display: none; }
  .socialMedia .socialIcon {
    height: 80px;
    width: 80px;
    margin: 0px;
    margin-left: 10.5px;
    margin-right: 10.5px; }
    .socialMedia .socialIcon i {
      font-size: 36px; }
  .aboutUsSectionLogoAll {
    margin-right: 50px;
    margin-left: 50px; }
  .aboutUsMainTitle {
    width: 420px; }
  .aboutUsMainPhoto {
    width: 480px; }
  .aboutUsSectionPhoto {
    width: 500px;
    margin-left: 30px; }
  .homeSection .card {
    width: 65%; }
    .homeSection .card .cardBody .cardDescription {
      font-size: 14px;
      line-height: 16px; }
  .videos .item {
    width: calc(100% / 2); }
  .consultanciesLogo {
    width: 100%;
    padding: 0 20px; }
  .triangle-down {
    border-left: 48.5vw solid transparent;
    border-right: 48.5vw solid transparent; } }

@media (max-width: 500px) {
  .button {
    font-size: 14px; }
  .homeSectionTitle {
    width: 350px; }
  .homeSectionTitle-2 {
    width: 250px; }
  .homePhotoMain {
    width: 380px; }
  .homeSectionPhoto {
    width: 350px; }
  .socialMedia .socialIcon {
    height: 66px;
    width: 66px;
    margin: 0px;
    margin-left: 10.5px;
    margin-right: 10.5px; }
    .socialMedia .socialIcon i {
      font-size: 33px; }
  .rights {
    font-size: 13px; }
  .aboutUsMainTitle {
    width: 350px; }
  .aboutUsMainPhoto {
    width: 400px; }
  .aboutUsSectionTitle-2 {
    width: 310px; }
  .aboutUsSectionPhoto {
    width: 380px;
    margin-left: 10px;
    margin-right: 0px; }
  .homeSection .card {
    width: 80%; }
    .homeSection .card .cardBody .cardDescription {
      font-size: 13.5px;
      line-height: 16px; }
  .videos .item {
    width: 100%; }
  .triangle-down {
    border-left: 48.2vw solid transparent;
    border-right: 48.2vw solid transparent; } }

@media (max-width: 420px) {
  .homeHumanaLogoAll {
    margin: 5px;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px; }
  .homePhotoMain {
    margin-right: 0px;
    margin-left: 0px;
    width: 340px; }
  .homeSectionLogoAll {
    margin: 5px;
    margin-top: 50px;
    margin-right: 18px;
    margin-left: 18px; }
  .homeSectionTitle {
    width: 310px; }
  .homeSectionTitle-2 {
    width: 240px; }
  .homeSectionPhoto {
    margin: 5px;
    margin-right: 0px;
    margin-left: 0px;
    width: 340px; }
  .aboutUsMainTitle {
    width: 310px; }
  .aboutUsMainPhoto {
    width: 370px; }
  .triangle-down {
    border-left: 48vw solid transparent;
    border-right: 48vw solid transparent; } }

@media (max-width: 360px) {
  .aboutUsSectionTitle-2 {
    width: 290px; }
  .aboutUsSectionPhoto {
    width: 350px; } }

.margin-0 {
  margin: 0rem; }

.margin-x-0 {
  margin: 0 0rem; }

.margin-y-0 {
  margin: 0rem 0; }

.margin-1 {
  margin: 0.25rem; }

.margin-x-1 {
  margin: 0 0.25rem; }

.margin-y-1 {
  margin: 0.25rem 0; }

.margin-2 {
  margin: 0.5rem; }

.margin-x-2 {
  margin: 0 0.5rem; }

.margin-y-2 {
  margin: 0.5rem 0; }

.margin-3 {
  margin: 0.75rem; }

.margin-x-3 {
  margin: 0 0.75rem; }

.margin-y-3 {
  margin: 0.75rem 0; }

.margin-4 {
  margin: 1rem; }

.margin-x-4 {
  margin: 0 1rem; }

.margin-y-4 {
  margin: 1rem 0; }

.margin-5 {
  margin: 1.25rem; }

.margin-x-5 {
  margin: 0 1.25rem; }

.margin-y-5 {
  margin: 1.25rem 0; }

.margin-x-auto {
  margin: 0 auto !important; }

.margin-y-auto {
  margin: auto 0 !important; }

.icon {
  color: #fff; }

.facebookIcon {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 20px; }
  .facebookIcon::after, .facebookIcon::before {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box; }
  .facebookIcon::before {
    width: 8px;
    height: 20px;
    border-left: 4px solid;
    border-top: 4px solid;
    border-top-left-radius: 5px;
    left: 6px; }
  .facebookIcon::after {
    width: 10px;
    height: 4px;
    background: currentColor;
    top: 7px;
    left: 4px;
    transform: skew(-5deg); }

.youtubeIcon {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 10px;
  background-color: currentColor;
  border-radius: 2px 2px 2px 2px; }
  .youtubeIcon::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 7px;
    top: 2px;
    border-left: 4px solid red;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent; }

.instagramIcon {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  border-radius: 4px;
  width: 16px;
  height: 16px; }
  .instagramIcon::after, .instagramIcon::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute; }
  .instagramIcon::after {
    border: 2px solid;
    left: 1.3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 1.3px; }
  .instagramIcon::before {
    border-radius: 3px;
    width: 2px;
    height: 2px;
    background: currentColor;
    right: .3px;
    top: .3px; }

#consultancies .arrow :nth-child(2) {
  margin-bottom: 30px; }

#consultancies .arrow .arrowAll .arrow-1 {
  border: 2px solid #4b65ff; }

#consultancies .arrow .arrowAll .arrow-2 {
  border: 2px solid #4b65ff; }

.arrowAll {
  height: 10px;
  display: flex; }

.arrow-1 {
  height: 20px;
  margin-right: 4px;
  border: 2px solid white;
  border-radius: 50px;
  transform: rotate(-45deg); }

.arrow-2 {
  height: 20px;
  margin-left: 4px;
  border: 2px solid white;
  border-radius: 50px;
  transform: rotate(45deg); }
